.bottom
  .contact.wrapper
    .social
      %h6 Social Media
      .divider
      {%- assign social = site.social_links -%}
      %ul.no-style.footer-links
        %li
          %a{href: "https://twitter.com/{{ social.twitter | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.twitter | escape }}"} Twitter
        %li
          %a{href: "https://www.facebook.com/{{ social.facebook | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.facebook | escape }}"} Facebook
        %li
          %a{href: "https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.instagram | escape }}"} Instagram
        %li
          %a{href: "https://github.com/{{ social.github | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.github | escape }}"} GitHub
        %li
          %a{href: "https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.linkedin | escape }}"} LinkedIn
        %li
          %a{href: "https://stackoverflow.com/users/{{ social.stackoverflow | escape }}", rel: "me", target: :_blank, title: "{{ social.stackoverflow | escape }}"} Stack Overflow
      %ul.social-media-list
        %li
          %a{href: "https://twitter.com/{{ social.twitter | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.twitter | escape }}"}
            %svg.svg-icon.grey
              %use{"xlink:href": "{{ '/assets/social-icons.svg#twitter' | relative_url }}"}
        %li
          %a{href: "https://www.facebook.com/{{ social.facebook | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.facebook | escape }}"}
            %svg.svg-icon.grey
              %use{"xlink:href": "{{ '/assets/social-icons.svg#facebook' | relative_url }}"}
        %li
          %a{href: "https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.instagram | escape }}"}
            %svg.svg-icon.grey
              %use{"xlink:href": "{{ '/assets/social-icons.svg#instagram' | relative_url }}"}
        %li
          %a{href: "https://github.com/{{ social.github | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.github | escape }}"}
            %svg.svg-icon.grey
              %use{"xlink:href": "{{ '/assets/social-icons.svg#github' | relative_url }}"}
        %li
          %a{href: "https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}", rel: "me", target: :_blank, title: "{{ social.linkedin | escape }}"}
            %svg.svg-icon.grey
              %use{"xlink:href": "{{ '/assets/social-icons.svg#linkedin' | relative_url }}"}
        %li
          %a{href: "https://stackoverflow.com/users/{{ social.stackoverflow | escape }}", rel: "me", target: :_blank, title: "{{ social.stackoverflow | escape }}"}
            %svg.svg-icon.grey
              %use{"xlink:href": "{{ '/assets/social-icons.svg#stackoverflow' | relative_url }}"}

    .work.recent-tweets
      %h6 Recent Tweets
      .divider
      #slideshow
        {% for tweet in site.data.tweets %}
        %div
          %strong
            %a{href: "{{tweet.user.url}}", target: :_blank, onclick:"window.open('{{tweet.user.url}}','popup','width=600,height=600'); return false;" } @{{ tweet.user.screen_name }}
          \ · {{ tweet.created_at | date: "%b %d, %y" }}
          %br
          %br
          {{ tweet.text | truncate: 130, '...' }}
          %br
          \ [
          %a{href: "{{tweet.url}}", target: :_blank, onclick:"window.open('{{tweet.url}}','popup','width=600,height=600'); return false;" } Link
          ]
        {% endfor %}
      :javascript
        $("#slideshow > div:gt(0)").hide();
        setInterval(function() {
          $('#slideshow > div:first')
            .fadeOut(1000)
            .next()
            .delay(1100)
            .fadeIn(1000)
            .end()
            .appendTo('#slideshow');
        },  10000);
  .clearfix
