.bottom
  .contact.wrapper
    .social
      %h6 Social Media
      .divider
      %ul.no-style.footer-links
        %li
          %a{href: 'javascript:void(0);'} Twitter
        %li
          %a{href: 'javascript:void(0);'} GitHub
        %li
          %a{href: 'javascript:void(0);'} Facebook
        %li
          %a{href: 'javascript:void(0);'} LinkedIn
        %li
          %a{href: 'javascript:void(0);'} Instagram

    .work
      %h6 Recent Tweets
      .divider
  .clearfix
