.box
  .box-image
    %img.image{ alt: "{{ project.image.alt }}", src: "{{ project.image.url }}" }
    %a{href: "{{ project.url }}", target: :_blank}
      .overlay
        .text
          {{ project.overlay.title }}
        %hr
        .sub-text
          {{ project.overlay.sub_title | truncate: 200 }}
  .box-title
    {{ project.title }}
