%footer.site-footer
  %ul.footer-links.uppercase
    %li
      %a{href: '{{ site.url }}'} Home
    %li
      %a{href: '{{ site.url }}/blog'} Blog
    %li
      %a{href: '{{ site.url }}/projects'} Projects
    %li
      %a{href: '{{ site.url }}/about'} About
    %li
      %a{href: 'mailto:hello@deepakmahakale.in'} Contact
  %span.copyright © {{ "today" | date: "%Y" }} DEEPAK MAHAKALE
