%footer.site-footer
  %ul.footer-links.uppercase
    %li
      %a{href: 'javascript:void(0);'} Home
    %li
      %a{href: 'javascript:void(0);'} Blog
    %li
      %a{href: 'javascript:void(0);'} Projects
    %li
      %a{href: 'javascript:void(0);'} Resume
    %li
      %a{href: 'javascript:void(0);'} Contact
    %li
      %span.copyright © {{ "today" | date: "%Y" }} DEEPAK MAHAKALE
