%footer.site-footer
  %ul.footer-links.uppercase
    %li
      %a{href: '{{ site.url }}'} Home
    %li
      %a{href: '{{ site.url }}/blog'} Blog
    %li
      %a{href: '{{ site.url }}/projects'} Projects
    %li
      %a{href: '{{ site.url }}/about'} About
    %li
      %a{href: '{{ site.url }}/contact'} Contact
    %li
      %span.copyright © {{ "today" | date: "%Y" }} DEEPAK MAHAKALE
