%header.site-header{role: 'banner' }
  .wrapper
    .banner-image
      %img{ src: '/assets/images/profile_picture.png', alt: 'Profile picture of Deepak' }
    .banner-text
      %h1
        Hi, I am
        %strong= ' Deepak'
    %h5
      Software professional with over
      %strong= ' 8 years '
      of experience in the software development industry.
