<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="banner-image">
      <img alt="Profile picture of Deepak" loading="lazy" src="/assets/images/profile_picture.png" />
    </div>
    <div class="banner-text">
      <h1>
        Hi, I am
        <strong>
          Deepak
        </strong>
      </h1>
    </div>
    <h5>
      Software professional with over
      <strong>
        10 years
      </strong>
      of experience in the IT industry.
    </h5>
  </div>
</header>
