.menu-button

  %button.hamburger.hamburger--spring{type: 'button'}
    %span.hamburger-box
      %span.hamburger-inner

:javascript
  var hamburger = document.querySelector('.hamburger');

  hamburger.addEventListener('click', function() {
    hamburger.classList.toggle('is-active');
    document.body.classList.toggle('show-menu');

  });

.menu-wrapper
  %nav.menu
    .list-items.uppercase
      %a.underline-effect{href: '{{ site.url }}'}
        %span Home
      %br
      %a.underline-effect{href: '{{ site.url }}/blog'}
        %span Blogs
      %br
      %a.underline-effect{href: '{{ site.url }}/about'}
        %span About
      %br
      %a.underline-effect{href: 'mailto:hello@deepakmahakale.in'}
        %span Contact
